<div class="page-header">
  <h1>Cohort: <%= @cohort.name %></h1>
</div>

<%= link_to 'Edit', edit_cohort_path(@cohort) %><br>
<%= link_to 'Destroy', @cohort, method: :delete, data: { confirm: 'Are you sure?' } %>
